/* body всегда пришется без точки  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
/* подключаем файл css для html  */
@import url('./fonts/icons/style.css');

:root {
   
    --gradient: linear-gradient(to right, #a894e6, #7e77ee);
    --grey: #f0f0f0;
    --light: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #e0e5eb;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.mobile {
    width: 350px;
    height: 730px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -5px 5px 20px rgba(0,0,0,0.3);
    display: grid;
    grid-template-rows: 48px 1fr 62px ;
}

.mobile__top,
.mobile__bottom {
    align-self: center;
 justify-self: center;
}


.mobile__content {
background-color: #fff;

}

/* выравниваем в 2 столбика */
.rooms {
    display: grid;
    /* делаем фикс размер в 150px */
    grid-template-columns: repeat(2, 1fr); 
    margin: 0 20px;
      /* выравниваем ряды */
    justify-content: center; 
  

    /* выравниваем элементы внутри сетки */
    align-items: center;
    grid-gap: 14px;
   
}
/* на линии 2 эдемента */
.room {
    display: grid;
    grid-template-rows: 130px 30px;
    font-size: 16px;
    /* выравниваем текст */
    text-align: center;
    /* вызываем нужный элемент функцией var */
    background: var(--grey);
    /* делаем скругление углов */
    border-radius: 12px;
    cursor: pointer;

}

.room.selected {
    background: var(--gradient);
    color: white;
}



.room.selected i {
    opacity: 1;
}

/* увеличим размер иконок  */
 .room i {
    align-self: center;
font-size: 5em;
/* добавим прозрачности иконкам */
opacity: 0.7;
 }


/* создаем страницу настроек */
.settings {
    display: none;
    padding: 0 20px;
}

.settings__tabs {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 94px;
  
}

 .tab {
    display: grid;
    grid-template-rows: 2fr 1fr;
    font-size: 12px;
    /* выравниваем текст */
    text-align: center;
    /* вызываем нужный элемент функцией var */
    background: var(--grey);
    /* делаем скругление углов */
    border-radius: 12px;
    cursor: pointer;

}

.tab.selected {
    background: var(--gradient);
    color: white;
}



.tab.selected i {
    opacity: 1;
}

.tab i {
    align-self: center;
    font-size: 3em;
    opacity: 0.7;
}
/* экраны элементов настроек */
.settings__screen {
    display: none;
}

.settings__screen.selected {
    display: block;
}

.settings__screen-title {
    margin: 30px 0 15px;
    text-align: center;
    font-weight: 300;
}

.settings__screen-icon {
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-bottom: 15px;
}


/* кнопку регулятора температуры */
.temperature-button {
    cursor: pointer;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
.temperature-button__info {
    position: relative;
    font-size: 32px;
    width: 80%;
    height: 80%;
    border-radius: 70%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature-button__info::before {
    /* для псевдоэлемента нужно ставить content */
    content: '';
    display: block;
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    bottom: 4%;
    border-radius: 100%;
    opacity: 0.3;
    border: 1px solid #000;
}

.dots-box {
    transform: rotate(5deg);
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
/* создаем индикаторы для круга */
.dots,
.line,
.line-active,
.round,
.separate-lines,
.separate-dots {
    fill: transparent;
    stroke: var(--grey);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 0 21;
    
}
/* создаем динамическую линиию */
.line,
.line-active,
.round {
    stroke-width: 1px;
    stroke-dasharray:276 276 ;
    transform: rotate(48deg);
    transform-origin: center;
}

.line-active {
    stroke: black;
    stroke-dasharray: 54 276;
}
/* создаем бегунок кнопку */
.round {
    stroke-width: 6px;
    stroke-dasharray: 0 276;
    /* от -240 до 48deg */
    transform: rotate(-240deg);  
}

.separate-lines,
.separate-dots {
    stroke: white;
    transform: rotate(60deg);
    transform-origin: center;
}

.separate-dots {
    stroke-dasharray: 40 313;
}
.separate-lines {
    transform: rotate(49deg);
    stroke-dasharray: 53 276;
}

/* power */
.power {
    background: var(--gradient);
    color: white;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    font-size: 24px;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 2px;
    margin: 0 auto;
}

.power.off {
    background: var(--grey);
}

.power-label {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-size: 300;
}
/* создаем кнопку Set temperature */
.save-button {
    background: var(--gradient);
    color: white;
    width: 250px;
    margin: 15px auto 0;
    border-radius: 100px;
    font-size: 16px;
    text-align: center;
    padding: 16px;
}



/* slider */
.slider {
    cursor: pointer;
    width: 100px;
    height: 250px;
    background-color: var(--grey);
    margin: 0 auto;
    border-radius: 16px;
   overflow: hidden;
   position: relative;
}

.slider__progress {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  background: var(--gradient);
  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 18px;
  min-height: 30px;
  height: 45%;
}
.slider__progress span {
    pointer-events: none;
}

/* switch */

.switch {
    cursor: pointer;
    width: 60px;
    height: 28px;
    border-radius: 60px;
    background: var(--grey);
    margin: 30px auto 0;
    position: relative;
}
.switch.off div {
    left: 52%;
    background: #666;
}

.switch div {
    position: absolute;
    left: 52%;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background: var(--gradient);
    transition: all 0.3s ease-in-out;
}


/* увеличим размер иконок  */
 .room i {
    align-self: center;
font-size: 5em;
/* добавим прозрачности иконкам */
opacity: 0.7;
 }


/* UI Components */
.selectbox {
    /* максимальная ширина по самому широкому элементу */
    width: 143px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    /* ставим курсор */
    cursor: pointer;
   }
.selectbox__selected {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* если сплющивается, то ставим z-index больше */
    z-index: 2;
    background-color: white;
  
}

.selectbox.open .ic_arrow {
    transform: rotate(-180deg);

}
/* делаем поворот стрелки при открытии и закрытии меню */
.ic_arrow {
    display: inline-block;
    font-size: 0.7em;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}
/* делаем выпадение списка когда будет Open */
.selectbox.open .selectbox__list {
    top: 120%;
    max-height: 200px;
}
/* редактируем сам список */
.selectbox__list {
   position: absolute;
   top: 0;
   left: -12px;
   right: -12px;
   z-index: 1;
   max-height: 0;
   overflow: hidden;
   background-color: #fff;
   padding: 8px 12px;
   border-radius: 3px;
   /* делаем анимацию для выпадающего меню */
   transition: all 0.3s ease-in-out;
}
/* создаем курсор при наведении */
.selectbox__item {
    cursor: pointer;
    
}
 /* делаем курсор и переход в списке */
.selectbox__item.selected,
.selectbox__item:hover {
   color:  #7e77ee;
   font-weight: 600;
}

.selectbox__item:not(:last-child) {
    margin-bottom: 4px;
   
}
